<?xml version="1.0" encoding="UTF-8"?>
<mybatis-config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../xsd/mybatis.xsd">

    <mybatis dataSourceName="datasource1" primary="true"
		mapperLocationsPath="classpath:mybatis/mappers/*.xml"
		typeAliasesPackage="com.chinawiserv.model"
		mapperPackages="com.chinawiserv.mapper"
		executorType="SIMPLE"
	/>
		
</mybatis-config>
