#alarm .detect-way {
  height: 100%; }
  #alarm .detect-way .way-key {
    border-right: 1px solid #DAE5F0; }
    #alarm .detect-way .way-key.checked {
      background: #f0fcf6;
      position: relative; }
      #alarm .detect-way .way-key.checked:before {
        content: "";
        background: #2CCD7D;
        border: 1px solid #1EBB35;
        display: inline-block;
        position: absolute;
        width: 28px;
        height: 28px;
        right: 15px;
        top: 5px;
        border-radius: 50%;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
      #alarm .detect-way .way-key.checked:after {
        font-family: "FontAwesome";
        content: "\f00c";
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        right: 24px;
        top: 5px;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 17px;
        color: #FFF; }
  #alarm .detect-way .way-sign {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    text-align: center; }
  #alarm .detect-way p {
    text-align: center; }

#alarm .radio-type-check {
  height: 100%;
  padding: 0 15px; }

#alarm .month-data {
  padding: 15px;
  height: 100%;
  min-height: 340px; }
  #alarm .month-data .title {
    font-size: 16px;
    color: #505363;
    text-align: center;
    margin-top: 0; }

#alarm #dayChart, #alarm #hourChart {
  width: 100%;
  min-height: 300px; }
#alarm .mark-content{
	padding:10px;
}
#alarm .mark-content textarea{
	width: 100%;
    border: 1px solid #B8C9DA;
    padding: 6px;
    border-radius: 4px;
}
#stationWrap .pull-right.pagination{
	    margin: 0;
}
#stationWrap .fixed-table-body{
	padding-bottom: 0;
}
#stationWrap .fixed-table-pagination{
	border:none;
}
#stationWrap .table{
	margin-bottom:0;
}
#stationWrap .table tr{
	cursor:pointer;
}
#stationWrap .table tr.selected{
	background: antiquewhite;
}
#stationWrap .table tr.selected td{
	position:relative;
}
#stationWrap .table tr.selected td:last-child:after{
    content: '';
    width: 24px;
    height: 24px;
    background: url(../images/tick.png) no-repeat center transparent;
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 4px;
}
#modalStationAlarm .modal-footer{
	    text-align: center;
    padding: 0 0 40px 0;
    border-top: none;
}
.way-single{
	cursor:pointer;
}
