#communication .table-title {
  text-align: left;
  font-size: 14px;
  padding: 25px 0 0 15px;
  margin: 0;
  color: #505363; }

#communication table th {
  color: #5D7D94; }

#communication table tr td {
  text-align: left; }

#communication .select2-container {
  min-width: 140px; }

#communication .btn-search {
  background: #1893F7;
  border-radius: 3px;
  color: #FFF;
  padding: 4px 12px;
  font-size: 14px;
  margin-left: 15px; }

#communication .time-wrap {
  display: inline-block;
  vertical-align: middle; }
  #communication .time-wrap .date {
    display: inline-block; }
  #communication .time-wrap .time-picker {
    display: inline-block;
    padding: 2px 4px;
    height: 30px;
    border: 1px solid #DAE5F0;
    border-radius: 4px;
    float: none;
    box-shadow: none; }
    #communication .time-wrap .time-picker > input {
      border: none;
      height: 24px;
      padding: 0 10px;
      box-shadow: none;
      display: inline-block;
      float: none; }
  #communication .time-wrap .input-group-addon, #communication .time-wrap .input-group-btn {
    display: inline-block;
    position: absolute;
    right: 4px;
    z-index: 99;
    width: 15px;
    height: 15px;
    background: #FFF;
    border: none;
    top: 8px;
    padding: 0; }
