@char@charset "UTF-8";
#waveOrder {
}
#waveOrder #apps .order-header {
   display: flex;
 }
#waveOrder #apps .nav-left {
  width: 35%;
}
#waveOrder #apps .nav-right {
  width: 65%;
}
#waveOrder #apps .tit{
position: absolute;
top: -5px;
left: 1px;
font-size: 9pt;
line-height: 20px;
}
#waveOrder #apps .numFont{
  font-size: 25px;
  line-height: 2;
  color:#37A5FF;
}
#waveOrder .pt {
  cursor: pointer;
}
#waveOrder .city-list {
  margin: 0 20px
}
#waveOrder .table-title {
  text-align: left;
  font-size: 14px;
  padding: 25px 0 0 15px;
  margin: 0;
  color: #505363
}
#waveOrder #table-radio th {
  text-align: center
}
#waveOrder #table-alarm-undeal th {
  text-align: center
}
#waveOrder #table-alarm-dealed th {
  text-align: center
}
#waveOrder .signal-wrap {
  padding: 15px;
  border-bottom: 1px solid #DAE5F0
}
#waveOrder .signal-wrap .signal-detect {
  font-size: 14px;
  color: #505363;
  margin-bottom: 0;
  vertical-align: middle
}
#waveOrder .signal-category {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
  vertical-align: middle
}
#waveOrder .signal-category .item {
  float: left;
  margin-left: 20px
}
/*#waveOrder .signal-category .signal-sign {*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*width: 15px;*/
  /*height: 15px;*/
  /*margin-left: 10px;*/
  /*margin-right: 5px*/
/*}*/
/*#waveOrder .signal-category .signal-sign.legal {*/
  /*background: #2ccd7d*/
/*}*/
/*#waveOrder .signal-category .signal-sign.legal-wrong {*/
  /*background: #2ccd7d;*/
  /*border: 2px solid #ff6059*/
/*}*/
/*#waveOrder .signal-category .signal-sign.known {*/
  /*background: #2ccd7d;*/
  /*border: 2px solid #d1d1d1*/
/*}*/
/*#waveOrder .signal-category .signal-sign.illegal {*/
  /*background: #ff6059*/
/*}*/
/*#waveOrder .signal-category .signal-sign.unknown {*/
  /*background: #d1d1d1*/
/*}*/
#waveOrder .signal-category img {
 width: 16px;
  height: 16px;
}
#waveOrder .signal-category .number {
  display: inline-block;
  vertical-align: middle
}
#waveOrder .signal-category .legal-number,
#waveOrder .signal-category .legal-wrong,
#waveOrder .signal-category .known {
}
#waveOrder .signal-category .illegal-number {
}
#waveOrder .signal-category .unknown-number {
}
#waveOrder .btn-refresh {
  background: #FFF;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: #6F7479;
  letter-spacing: 0;
  line-height: 18px;
  border: 1px solid #DAE5F0
}
#waveOrder .btn-refresh-table {
  background: #37a5ff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: #FFF;
  letter-spacing: 0;
  line-height: 18px;
  border: 1px solid #DAE5F0
}
#waveOrder .btn-evaluate {
  background: #FFF;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 12px;
  color: #6F7479;
  border: 1px solid #DAE5F0;
  height: 30px
}
#waveOrder .btn-refresh .fa-refresh {
  color: #DDD;
  font-size: 16px
}
#waveOrder .elect-evaluate-wrap {
  padding: 15px;
  font-size: 14px;
  overflow: hidden;
  border-bottom: 1px solid #DAE5F0
}
#waveOrder .elect-evaluate-wrap .module-name {
  color: #505363
}
#waveOrder .elect-evaluate-wrap .coverage-number {
  color: #37A5FF;
  font-size: 18px
}
.mark-title {
  font-size: 12px
}
.mark-info {
  background: #FFFFFF;
  border: 1px solid #B8C9DA;
  border-radius: 4px;
  width: 100%;
  height: 100px;
  padding: 10px
}
.cover-info {
  position: absolute;
  top: 15px;
  right: 30px;
  display: inline-block;
  padding: 5px;
  background: #FFF;
  z-index: 99;
  color: #333;
  border: 1px solid #B5D9F3;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px #E6E6E6
}
.cover-info>span {
  color: #37A5FF;
  font-size: 16px
}
.arrow-wrap {
  position: absolute;
  top: 40%;
  border-radius: 50%;
  z-index: 99;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: block;
  transition: all 2s ease-in-out 2s
}
.arrow-wrap.prev-month {
  border-right: 60px solid rgba(255, 255, 255, .8);
  left: -60px
}
.arrow-wrap.next-month {
  border-left: 60px solid rgba(255, 255, 255, .8);
  right: -60px
}
.arrow-box {
  position: absolute;
  right: -48px;
  top: 38px
}
.next-month .arrow-box {
  left: -48px
}
.arrow-box>.fa {
  color: #37A5FF;
  font-size: 26px;
  padding: 0 12px
}
.minutes {
  border: 1px solid #DAE5F0;
  border-radius: 4px;
  padding-left: 10px
}
[class*=" icon-"],
[class^=icon-] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.searchFre {
  width: 50px;
  border: 1px solid #cdd3d8;
  border-radius: 5px;
  padding: 5px 11px !important;

}
.alarm_filter {
  /*float: right;*/
  font-size: 12px;
  display: flex;
}
.el-autocomplete{
  /*width: 130px;*/
}
.el-radio__label {
  font-size: 12px !important;
  padding-left: 2px!important;
}
.searchBrand-layout{
  width: 180px;
  position: relative;
  display: inline-block;
}
.searchBrand {
  position: absolute;
  height: 300px;
  overflow: auto;
  z-index: 2146;
  position: absolute;
  right: 1px;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-sizing: border-box;
  margin: 5px 0;
}
#modalSignal .search .form-control {
  border-radius: 4px;
  margin-left: 20px;
}
.table-radio .fixed-table-body {
  height: 270px;
}

