#communication{
  .table-title{
    text-align: left;
    font-size: 14px;
    padding: 25px 0 0 15px;
    margin: 0;
    color: #505363;
  }
  table{
    th{
      color: #5D7D94;
    }
    tr{
      td{
        text-align:left;
        line-height: 20px;
        .fa{
          font-size: 18px;
          padding-left: 10px;
          &.fa-arrow-up{
            color:#2CCD7D
          }
          &.fa-arrow-down{
            color:rgb(255,96,89);
          }
        }
      }
    }
    &#table-station-compare{
      td{
        line-height:28px;
      }
    }
  }
  .select2-container{
    min-width:140px;
  }
  .btn-search{
    background: #1893F7;
    border-radius: 3px;
    color: #FFF;
    padding: 4px 12px;
    font-size: 14px;
    margin-left: 15px;
  }
  .btn-config{
    background: #FFF;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 12px;
    color: #6F7479;
    border: 1px solid #DAE5F0;
    height:30px;
    &:hover,&:active{
      @extend .btn-config;
    }
    img{
      margin-bottom:2px;
    }
    .fa-gear{
      color:#DAE5F0;
      font-size:18px;
    }
  }
  .time-wrap{
    display:inline-block;
    vertical-align:middle;
    .date{
      display:inline-block;
    }
    .time-picker{
      display:inline-block;
      padding: 2px 4px;
      height: 30px;
      border: 1px solid #DAE5F0;
      border-radius: 4px;
      float: none;
      box-shadow: none;
      >input{
        border: none;
        height: 24px;
        padding: 0 10px;
        box-shadow: none;
        display: inline-block;
        float: none;
      }
    }
    .input-group-addon, .input-group-btn{
      display:inline-block;
      position: absolute;
      right: 4px;
      z-index: 99;
      width: 15px;
      height: 15px;
      background: #FFF;
      border: none;
      top: 8px;
      padding: 0;
    }
  }
  #comConfigModal {
    .control-label{
      padding-top:4px;
    }
    .nav-tabs{
      li{
        a{
          padding:6px 12px;
          font-size:14px;
          border-radius: 4px;
        }
      }
    }
  }
}
