$fontSize: 14px;
$baseLineHeight : 1.5 !default;
$linkColor: rgb(73,178,252) #333 !default;

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

*{
  @include box-sizing(border-box);
}
html{
  height:100%;
}
body{
  font-size: $fontSize;
  line-height: $baseLineHeight;
  height:100%;
  background: rgb(249,252,254);
  font-family:'微软雅黑';
  color: #505363;
}

a {
  color: nth($linkColor,1);
  cursor: pointer;
  &:hover{
  }
}
ul {
  list-style:none;
}
h1,h2,h3,h4,h5,h6,p{
  font-family:'微软雅黑'
}
input{
  outline:none;
}
select{
  min-width:80px;
}
.select2-container--default .select2-selection--single{
  border: 1px solid #DAE5F0;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  border: 1px solid #DAE5F0;
}
.select2-dropdown{
  border: 1px solid #DAE5F0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  font-size: 12px;
  color: #6F7479;
}
label,.control-label{
  font-size: 14px;
}
.right10{
  margin-right:10px;
}
.padding0{
  padding:0;
}
.padding15{
  padding:15px;
}
.mrg-top15{
  margin-top:15px;
}
.mrg-bottom15{
  margin-bottom:15px;
}
@mixin flex-flow ($flow:row) {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  display:box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-direction: normal;
  -moz-flex-direction: $flow;
  -webkit-flex-direction: $flow;
  -ms-flex-direction: $flow;
	-o-flex-direction: $flow;
  flex-direction: $flow;
  -webkit-flex-flow: $flow;
  flex-flow: $flow;

  @if $flow == row {
    -webkit-box-orient: horizontal;
  } @else if $flow == column {
      -webkit-box-orient: vertical;
  }
}
@mixin flex-align($align:center) {
  -webkit-box-align: $align;
    -moz-align-items: $align;
    -webkit-align-items: $align;
    align-items: $align;
}
@mixin flex-justify($justify:center) {
  -webkit-box-pack: $justify;
    -moz-justify-content: $justify;
    -webkit-justify-content: $justify;
    justify-content: $justify;

}
@mixin flex-num($num:1) {
  -moz-flex-grow:  $num;
  -webkit-flex-grow:  $num;
  flex-grow:  $num;
  -webkit-box-flex: $num;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $num;
  /* OLD - Firefox 19- */
  -webkit-flex: $num;
  /* Chrome */
  -ms-flex: $num;
  /* IE 10 */
  flex: $num;
  min-height: 0;
}
.pagination-wrap{
  height: 58px;
  padding: 0 15px;
}
.table {
  font-size:14px;
  border-bottom:none !important;
  margin-top: 10px;
  tr{
    th{
      font-weight:normal;
      font-size: 14px;
      color: #576069;
      border:none !important;
    }
    td{
      border:none !important;
      font-size:12px;
      color: #6D757C;
    }
  }
  thead{
    tr{
      border-bottom: 1px solid #DAE5F0;
    }
  }
  &.table-striped{
    tbody{
      tr:nth-of-type(odd){
        background:rgb(246,250,253);
      }
    }
  }
}
.fixed-table-container{
  border:none;
}
.fixed-table-body{
  padding: 0 15px 25px 15px;
}
.fixed-table-pagination{
  padding: 0 15px;
  border-top: 1px solid #EEE;
}
.pagination-detail{
  display:none;
}
.pagination{
  vertical-align:middle;
  li{
    a{
      border: 1px solid #cdd3d8;
      border-radius:5px;
      padding: 5px 11px !important;
      margin-left:10px;
      font-family: HelveticaNeue;
      font-size: 12px;
      color: #576069;
      line-height: 18px;;
    }
  }
  .active{
    a,span{
      background:rgb(73,178,252);
      &:hover,&:focus{
        background:rgb(73,178,252);
      }
    }
  }
}

/*modal dialog*/
.modal-content{
  border:none;
}
.modal-header{
  background:rgb(6,138,231);
  color:#FFF;
  padding: 10px;
  .modal-title{
    font-size: 16px;
  }
}
.modal .close{
  color:#FFF;
  opacity: 1;
  font-weight: normal;
}

.header-bar{
  height:60px;
  background:#FFF;
  border: 1px solid #DAE5F0;
  padding:16px 20px;
  .header-search{
    margin-left:20px;
    display:inline-block;
    position:relative;
    input{
      padding:2px 20px 2px 4px;
      border: 1px solid #DAE5F0;
      border-radius: 4px;
      width:130px;
    }
    .search-icon{
      position:absolute;
      cursor:pointer;
      right:2px;
      top:0;
      display:block;
      width:27px;
      height:27px;
      background:url(../images/search.png) no-repeat center;
    }
  }
  .module-name{
    font-size:14px;
    color: #505363;
  }
}
.search-filters{
  display: inline-block;
  padding-left: 60px;
}

.content-wrap{
  padding:15px;
  section{
    margin-bottom:25px;
  }
}
.locate-coverage{
  padding:15px;
  font-size:14px;
  border-bottom: 1px solid #DAE5F0;
  color: #576069;
  .module-name{
    font-size:14px;
    color: #505363;
    img{
      vertical-align:top;
    }
    .fa-map-marker{
      color:rgb(55,165,255);
      font-size:20px;
      padding:0 10px 0 5px;
    }
  }
  .coverage-number{
    color:#37A5FF;
    font-size:18px;
  }
}
.flex-row{
  @include flex-flow(row);
}
.flex-column{
  @include flex-flow(column);
}
.justify-center{
  @include flex-justify(center);
}
.align-center{
  @include flex-align(center);
}
.flex1{
  @include flex-num(1);
}
.flex2{
  @include flex-num(2);
}
.flex3{
  @include flex-num(3);
}
.box{
  @include flex-num(1);
  background: #FFF;
  border: 1px solid #DAE5F0;
  min-height:130px;
  &.box-tabs{
    border:none;

  }
}
.nav-tabs{
  background: #f9fcfe;
  li{
    a{
      padding: 12px 40px;
      font-size: 14px;
      background-color:#eef7ff;
      color:#656565;
    }
    &.active{
      border: none;
      a{
        color:#37A5FF;
        background-color:#FFF;
        padding: 13px 40px;
      }
    }
    &:not(.active){
      a{
        border:1px solid #DAE5F0;
        border-bottom: none;
      }
    }
  }
}
.tab-content{
  border: 1px solid #DAE5F0;
  border-top: none;
}
.box2{
  @extend .box;
  @include flex-num(2);
}
.checkbox,.radio{
  display: inline-block;
    margin: 0;
    &.checkbox-primary input[type="checkbox"]:checked + label::before,
    {
      background-color: rgb(24,147,247);
      border-color: rgb(24,147,247);
      outline:none;
      top:3px;
    }
    &.radio-primary input[type="radio"]:checked + label::before {
      border-color: rgb(55,165,255);
      outline:none;
      top:3px;
    }

    label{
      font-size:14px;
      color: #505363;
      &:before{
        top:3px;
      }
      &:after{
        top:2px;
      }
    }
    &.radio-primary input[type="radio"]:checked + label::after {
      background-color: rgb(55,165,255);
      top:6px;
    }
}
.datetimepicker table tr td span,.datetimepicker td{
  text-align:center !important;
}
