<div class="widgetFrame" id="FrameWin">
    <div class="widgetBadgedPane widgetBox" id="dragHandle" >
        <table style="border-spacing: 4px 40px;">
            <tr>
                <td class = "widgetTitle" width="100%">title</td>
                <td>
                    <div class='widgetButton wbMinimize' data-dojo-attach-event
                            ="onBadgeclick:" title="最小化">
                    </div>
                </td>
                <td>
                    <div class="widgetButton wbClose" data-dojo-attach-event="onCloseClick" title="关闭"></div>
                </td>
            </tr>
        </table>
        <div class="widgetHolder" data-dojo-attach-point="containerNode"></div>
    </div>

</div>